@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
  overflow-y: auto; /* Allow vertical scrolling */
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

@font-face {
  font-family: "Open Sauce One-Bold";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/608719173217b66d32be7619/fonts/opensauceone-bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Open Sauce One-Medium";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/608719173217b66d32be7619/fonts/opensauceone-medium.ttf")
    format("truetype");
}

@font-face {
  font-family: "Open Sauce One-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/608719173217b66d32be7619/fonts/opensauceone-regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Open Sauce One-SemiBold";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/608719173217b66d32be7619/fonts/opensauceone-semibold.ttf")
    format("truetype");
}
